<main class="container mt-5">
    <h1>Soy el formulario de registro</h1>
    {{#if msg}}
        <p>{{msg}}</p>
    {{/if}}
    <form action="/registro" class="formulario" method="post">
        <label>Email</label>
        <input type="email" name="email" placeholder="ingrese su email" required>
        <label>Contrase単a</label>
        <input type="contrase単a" name="contrase単a" placeholder="ingrese su contrase単a">
        <input type="submit" >
    </form>
</main>